.MuiOutlinedInput-input {
  color: #fff !important;
  background-color: rgb(6, 6, 6) !important;
  border-radius: 5px !important;
}

.input__container {
  display: flex !important;
  justify-content: space-around;
}
